<h1>New Idea</h1>

<%= render 'form' %>



<div class="ui buttons">
  <button class="ui labeled icon button">
    <i class="left chevron icon"></i>
    <%= link_to 'Back', ideas_path %>
  </button>
</div>
